@model IEnumerable<HUELLAS_PNT1.Models.InteresadoMascotaVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Crear</a>
</p>
<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NombreInteresado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TelInteresado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MailInteresado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NombreMascota)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreInteresado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TelInteresado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MailInteresado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreMascota)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IdInteresado">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.IdInteresado">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.IdInteresado">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
</table>
