@model IEnumerable<HUELLAS_PNT1.Models.InteresadoMascotaVM>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="@Url.Content("~/css/home.css")" rel="stylesheet" />
</head>
<body class="text-center body-back">
    <h1 class="h1-back">Interesados</h1>

    <p>
        <a asp-action="Create" class="btn btn-dark mt-4 px-5 py-2 mb-4"> Agregar <i class="bi bi-plus"></i></a>
    </p>
    <table class="table text-left">
        <thead>
            <tr class="bg-dark text-light">
                <th>
                    @Html.DisplayNameFor(model => model.NombreInteresado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TelInteresado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MailInteresado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NombreMascota)
                </th>
                <th>
                    Editar
                </th>
                <th>
                    Detalles
                </th>
                <th>
                    Borrar
                </th>
            </tr>
        </thead>
        <tbody class="tbody-index">
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreInteresado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TelInteresado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MailInteresado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreMascota)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdInteresado" class="text-success h5"><i class="bi bi-pencil"></i> </a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.IdInteresado" class="text-primary h5"><i class="bi bi-eye"></i> </a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.IdInteresado" class="text-danger h5"><i class="bi bi-trash"></i></a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</body>
</html>