@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager

@model IEnumerable<HUELLAS_PNT1.Models.Mascota>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="@Url.Content("~/css/home.css")" rel="stylesheet" />
</head>
<body class="text-center body-back">
    @if (signInManager.IsSignedIn(User))
    {
        <h1 class="h1-back">Mascotas</h1>

        <p>
            <a asp-action="Create" class="btn btn-dark mt-4 px-5 py-2 mb-4">Agregar</a>
        </p>
        <table class="table text-left">
            <thead>
                <tr class="bg-dark text-light">
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Edad)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tipo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tamanio)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Genero)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Vacunado)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Castrado)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Imagen)
                    </th>
                    <th>
                        Editar
                    </th>
                    <th>
                        Detalles
                    </th>
                    <th>
                        Borrar
                    </th>
                </tr>
            </thead>
            <tbody class="tbody-index" >
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Edad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tipo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tamanio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Genero)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Vacunado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Castrado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descripcion)
                        </td>
                        <td>
                            <img class="card-img-top" src="@Url.Content(item.Imagen)" alt="Mascota en adopción" style="height:100px; width:150px">
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="text-success"><i class="bi bi-pencil"></i> </a>
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id" class="text-primary"><i class="bi bi-eye"></i> </a>
                        </td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="text-danger"><i class="bi bi-trash"></i></a>
                    </tr>
                }
            </tbody>
        </table>

    }

</body>
</html>

